<!DOCTYPE html>
<html>
<head>
	<title>Memory & Speed Game</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<p>
<h3 class="center">Memory & Speed Game</h3>
<p>
<div id="main" class="row justify-content-center align-items-center">
</div>
<p>
<div class="bottom row justify-content-center align-items-center">
	<button id="restart" class="btn btn-lg btn-primary" accesskey="R">Restart</button>
	<div class="stopwatch">
  		<span id="minutes" class="minutes">00</span>
  		<span class="dots">:</span>
  		<span id="seconds" class="seconds">00</span>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
